<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{{ main.title }}</title>
  <script src="/formosa/lib/echarts.min.js"></script>
  <script src="/formosa/lib/roma.theme.js"></script>
  <script src="/formosa/build/{{ main.language }}/pie-node.js"></script>
  <script src="/formosa/build/{{ main.language }}/chart.js"></script>
  <link rel="icon" type="image/png" href="/formosa/assets/img/favicon.png" />
  <link rel="stylesheet" href="/formosa/assets/style.css">
  <link rel="stylesheet" href="/formosa/lib/fontawesome/css/all.min.css">
</head>

<body>
  <div class="settings">
    <div class="settings__select">
      <label for="settings__graph-mode-select">{{ settings.graph_mode.select }}</label>
      <select id="settings__graph-mode-select">
        <option value="nationality">{{ settings.graph_mode.select.nationality }}</option>
        <option value="role">{{ settings.graph_mode.select.role }}</option>
        <option value="boat">{{ settings.graph_mode.select.boat }}</option>
        <option value="nature">{{ settings.graph_mode.select.nature }}</option>
        <option value="publication">{{ settings.graph_mode.select.publication }}</option>
      </select>
    </div>
    <div class="settings__select">
      <label for="settings__filter-names-select">{{ settings.filter_names.select }}</label>
      <select id="settings__filter-names-select">
        <option value="narrative">{{ settings.filter_names.select.narrative }}</option>
        <option value="">{{ settings.filter_names.select.none }}</option>
      </select>
    </div>
    <div class="settings__select">
      <label for="settings__layout-select">{{ settings.layout.select }}</label>
      <select id="settings__layout-select">
        <option value="force">{{ settings.layout.select.force }}</option>
        <option value="circular">{{ settings.layout.select.circular }}</option>
      </select>
    </div>
  </div>
  <div class="links">
    <a class="links__item" href="https://gitlab.com/g-dv/formosa"><i class="fa-brands fa-gitlab"></i></a>
    <a class="links__item" href="https://donada.notion.site/donada/Once-upon-a-Ta-wan-ab245103b3a74996b797147e1346d3e0"><i class="fa-solid fa-book"></i></a>
    <a class="links__item" id="language-switch" href="#"><i class="fa-solid fa-globe"></i></a>
  </div>
  <div id="chart"></div>
</body>

</html>