html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #333333;
}

body, select {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#chart {
  width: 100%;
  height: 100%;
}

.settings {
  width: 280px;
  padding: 0 0 0 0;
  position: absolute;
  bottom: 8px;
  left: 16px;
  z-index: 99;
}

.settings__select {
  margin: 4px 0;
}

.settings__select select {
  display: inline-block;
  padding: 2px 24px 2px 4px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 4px center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.links {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 99;
}

.links__item {
  font-size: 16px;
  margin-left: 8px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.links__item:hover {
  color: #333333;
}
